@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';


.outer-container {
    position: relative;
    top: 1em;
    margin: auto;
    width: 250px;
    border: 3px solid black;
}
.buttons {
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}
.buttons > p {
    background-color: #4B4C51;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    text-align: left;
    padding: 6px 0 0 8px;
    border-style: none;
    height: 35px;
}
.fa {
    padding-right: 10px;
    font-weight: bold;
    font-size: 15pt;
}

.buttons:hover > p, .buttons.hulk > p {
    background-color: #6D9500;
}

.sub_menu {
    display: none;
}

.sub_menu > li {
    border-bottom: 1px solid black;
    list-style-type: decimal;
    text-align: left;
    list-style-position: inside;
    background-color: #DFDFDF;
    padding: 8px;
    font-weight: bold;
    color: #666666;
    font-size: 9pt;
}
